In [660]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [661]:



def excel_to_dataframes(file_path):
    # Read the Excel file
    xl = pd.ExcelFile(file_path)
    
    sheet_names = xl.sheet_names
    
    dfs_dict = {}
    
    for sheet_name in sheet_names:
        df = xl.parse(sheet_name)
        # Select only the first 8 columns
        while len(df.columns) < 9:
            df[len(df.columns)] = np.nan
        
        # Select only the first 9 columns
        df = df.iloc[:, :9]

        # Remove rows with at least one NaN value
        df = df.dropna()
        
        df.columns = ['STATUS', 'DATE', 'SHIFT', 'HOURS', 'RATE', 'COST', 'ON CALL', 'ROLE', 'UNIT']
        df = df[df['STATUS'].isin(['NEW', 'CURRENT', 'VACANT', 'PENDING'])]
        
        #df['HOSPITAL'] = sheet_name
        df = df.reset_index(drop=True)
        for col in df.columns:
            df[f'{col}-VALIDATE'] = True
        dfs_dict[sheet_name.strip()] = df
    
    return dfs_dict

In [662]:
def validate_date(df):
    # Initialize an empty list to store boolean values indicating whether each row is valid
    indices = []
    # Iterate through each row in the dataframe
    for index, row in df.iterrows():
        try:
            # Attempt to parse the date value using the specified format
            date = pd.to_datetime(row['DATE'])
            df.at[index, 'DATE'] = date.strftime('%A, %d %B %Y')
            df.at[index, 'DATE-VALIDATE'] = True
        except ValueError:
            # If parsing fails, append False to the validation list
            df.at[index, 'DATE-VALIDATE'] = False
            indices.append(index)
            print(index, "date validate failed")
    
    return df, indices

In [663]:
def validate_shift(df):
    # Iterate through each row in the dataframe
    indices = []
    for index, row in df.iterrows():
        shift_value = row['SHIFT']
        # Check if the shift value is in the format "HHMM-HHMM"
        shift_value = "".join(shift_value.strip().split(" "))
        if not isinstance(shift_value, str) or not len(shift_value) == 9 or not shift_value[4] == '-':
            # If the shift value is not in the correct format, set shift-validate to False for this row

            df.at[index, 'SHIFT-VALIDATE'] = False
            indices.append(index)
        else:
            # If the shift value is in the correct format, set shift-validate to True for this row
            df.at[index, 'SHIFT-VALIDATE'] = True
    
    return df, indices

In [664]:
def validate_hours(df):
    indices = []
    # Iterate through each row in the dataframe
    for index, row in df.iterrows():
        shift_value = row['SHIFT']
        hours_value = row['HOURS']
        # Check if the shift value is in the correct format "HHMM-HHMM"
        if not isinstance(shift_value, str) or not len(shift_value) == 9 or not shift_value[4] == '-':
            # If the shift value is not in the correct format, set hours-validate to False for this row
            df.at[index, 'HOURS-VALIDATE'] = False
            indices.append(index)
        else:
            # If the shift value is in the correct format, calculate the hours worked
            start_hour, end_hour = shift_value.split('-')
            start_hour = int(start_hour[:2]) + int(start_hour[2:]) / 60
            end_hour = int(end_hour[:2]) + int(end_hour[2:]) / 60
            hours_worked = end_hour - start_hour
            if hours_worked<0:
                hours_worked = 24 + hours_worked
            # Check if the calculated hours match the value in the HOURS column
            if hours_worked != hours_value:  # Allowing for small floating point differences
                # If the calculated hours do not match, assign the correct value
                #df.at[index, 'HOURS'] = hours_worked
                indices.append(index)
                # Set hours-validate to False for this row
                df.at[index, 'HOURS-VALIDATE'] = False
            else:
                # If the calculated hours match, set hours-validate to True for this row
                df.at[index, 'HOURS-VALIDATE'] = True
    
    return df, indices

In [665]:
def validate_rate(df):
    # Iterate through each row in the dataframe
    indices = []
    for index, row in df.iterrows():
        rate_value = row['RATE']
        cost_value = row['COST']
        hours_value = row['HOURS']
        
        # Check if rate equals cost and hours is not equal to 1
        if rate_value == cost_value or type(rate_value)!=type(cost_value):
            # If rate equals cost but hours is not 1, set rate-validate to False for this row
            indices.append(index)
            df.at[index, 'RATE-VALIDATE'] = False
        else:
            # Otherwise, set rate-validate to True for this row
            df.at[index, 'RATE-VALIDATE'] = True
    
    return df,indices

In [666]:
def validate_cost(df):
    indices = []
    for index, row in df.iterrows():
        rate_value = row['RATE']
        hours_value = row['HOURS']
        cost_value = row['COST']
        
        expected_cost = rate_value * hours_value
        if expected_cost != cost_value:
            indices.append(index)
            df.at[index, 'COST-VALIDATE'] = False
        else:
            df.at[index, 'COST-VALIDATE'] = True
    
    return df, indices

In [667]:
def validate_oncall(df):
    # Iterate through each row in the dataframe
    indices = []
    for index, row in df.iterrows():
        oncall_value = row['ON CALL']
        
        # Check if cost value is either 'yes' or 'no'
        try:
            if oncall_value.lower() not in ['yes', 'no']:
                # If cost value is not 'yes' or 'no', set cost-validate to False for this row
                df.at[index, 'ON CALL-VALIDATE'] = False
                indices.append(index)
            else:
                # Otherwise, set cost-validate to True for this row
                df.at[index, 'ON CALL-VALIDATE'] = True
        except:
             df.at[index, 'ON CALL-VALIDATE'] = False
    
    return df, indices

In [668]:
def validate_roles(df):
    valid_roles = ['CMO Senior', 'REGISTRAR', 'RMO', 'SRMO', 'CMO NON IC', 'REGISTRAR IC']
    indices = []
    # Iterate through each row in the dataframe
    for index, row in df.iterrows():
        role_value = row['ROLE']
        try:
        # Check if role value is in the predefined list of valid roles
            if role_value not in valid_roles:
                # If role value is not in the predefined list, set roles-validate to False for this row
                indices.append(index)
                df.at[index, 'ROLE-VALIDATE'] = False
            else:
                # Otherwise, set roles-validate to True for this row
                df.at[index, 'ROLE-VALIDATE'] = True
        except:
            df.at[index, 'ROLE-VALIDATE'] = False
    
    return df, indices

In [669]:


def validate_units(df):
    valid_units = ['ANAESTH', 'ED', 'FACILITY', 'ICU', 'MEDICAL', 'O & G', 'ONCOLOGY', 'ORTHO', 'PAEDS', 'PSYCH', 'SURGICAL', 'WARDS']
    indices = []
    # Iterate through each row in the dataframe
    for index, row in df.iterrows():
        unit_value = row['UNIT']
        try:
            # Check if unit value is in the predefined list of valid units
            if unit_value not in valid_units:
                # If unit value is not in the predefined list, set unit-validate to False for this row
                indices.append(index)
                df.at[index, 'UNIT-VALIDATE'] = False
            else:
                # Otherwise, set unit-validate to True for this row
                df.at[index, 'UNIT-VALIDATE'] = True
        except:
            df.at[index, 'UNIT-VALIDATE'] = False
    
    return df, indices

In [670]:

file_path = 'data/HNELHD NON-SPECIALIST LOCUM VACANCY LIST (18) (1).xlsx'  # Change this to your Excel file path
dataframes = excel_to_dataframes(file_path)

In [671]:
INDEX = 6
print(list(dataframes.keys())[INDEX])
dataframes[list(dataframes.keys())[INDEX]]

ARMIDALE DENTIST

,STATUS,DATE,SHIFT,HOURS,RATE,COST,ON CALL,ROLE,UNIT,STATUS-VALIDATE,DATE-VALIDATE,SHIFT-VALIDATE,HOURS-VALIDATE,RATE-VALIDATE,COST-VALIDATE,ON CALL-VALIDATE,ROLE-VALIDATE,UNIT-VALIDATE
0,VACANT,2024-04-15 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
1,VACANT,2024-04-16 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
2,VACANT,2024-04-17 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
3,VACANT,2024-04-18 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
4,VACANT,2024-04-19 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
5,VACANT,2024-04-22 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
6,VACANT,2024-04-23 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
7,VACANT,2024-04-24 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
8,VACANT,2024-04-25 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
9,VACANT,2024-04-26 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
10,VACANT,2024-04-29 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
11,VACANT,2024-04-30 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
12,VACANT,2024-05-01 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
13,VACANT,2024-05-02 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True
14,VACANT,2024-05-03 00:00:00,0800-1630,8,100,800,NO,DENTIST,ARMIDALE,True,True,True,True,True,True,True,True,True

In [672]:
datevalidated = {}
date_val_failed = {}
for x in dataframes.keys():
    datevalidated[x],date_val_failed[x] = validate_date(dataframes[x])

In [673]:
shiftvalidated = {}
shift_val_failed = {}
for x in dataframes.keys():
    shiftvalidated[x],shift_val_failed[x] = validate_shift(datevalidated[x])

In [674]:
hoursvalidated = {}
hours_val_failed = {}
for x in dataframes.keys():
    hoursvalidated[x],hours_val_failed[x] = validate_hours(shiftvalidated[x])

In [675]:
ratesvalidated = {}
rates_val_failed = {}
for x in dataframes.keys():
    ratesvalidated[x],rates_val_failed[x] = validate_rate(hoursvalidated[x])

In [676]:
costvalidated = {}
cost_val_failed = {}
for x in dataframes.keys():
    costvalidated[x],cost_val_failed[x] = validate_cost(ratesvalidated[x])

In [677]:
oncallvalidated = {}
oncall_val_failed = {}
for x in dataframes.keys():
    oncallvalidated[x],oncall_val_failed[x] = validate_oncall(costvalidated[x])

In [678]:
rolesvalidated = {}
roles_val_failed = {}
for x in dataframes.keys():
    rolesvalidated[x],roles_val_failed[x] = validate_roles(oncallvalidated[x])

In [679]:
unitvalidated = {}
unit_val_failed = {}
for x in dataframes.keys():
    unitvalidated[x],unit_val_failed[x] = validate_roles(rolesvalidated[x])

In [680]:
unitvalidated

{'MAIN MENU': Empty DataFrame
 Columns: [STATUS, DATE, SHIFT, HOURS, RATE, COST, ON CALL, ROLE, UNIT, STATUS-VALIDATE, DATE-VALIDATE, SHIFT-VALIDATE, HOURS-VALIDATE, RATE-VALIDATE, COST-VALIDATE, ON CALL-VALIDATE, ROLE-VALIDATE, UNIT-VALIDATE]
 Index: [],
 'ARMIDALE CMO ED':    STATUS                    DATE      SHIFT  HOURS   RATE    COST ON CALL  \
 0  VACANT   Tuesday, 04 June 2024  0800-2030   12.0  250.0  3000.0     NO
 1  VACANT  Saturday, 08 June 2024  0800-2030   12.0  250.0  3000.0     NO
 2  VACANT    Monday, 17 June 2024  2000-0830   12.0  250.0  3000.0     NO
 3  VACANT   Tuesday, 18 June 2024  2000-0830   12.0  250.0  3000.0     NO

      ROLE UNIT  STATUS-VALIDATE  DATE-VALIDATE  SHIFT-VALIDATE  \
 0  CMO IC   ED             True           True            True
 1  CMO IC   ED             True           True            True
 2  CMO IC   ED             True           True            True
 3  CMO IC   ED             True           True            True

    HOURS-VALIDATE  RATE-VALIDATE  COST-VALIDATE  ON CALL-VALIDATE  \
 0           False           True           True             False
 1           False           True           True             False
 2           False           True           True             False
 3           False           True           True             False

    ROLE-VALIDATE  UNIT-VALIDATE
 0          False           True
 1          False           True
 2          False           True
 3          False           True  ,
 'ARMIDALE ED CMO NON IC':    STATUS                    DATE         SHIFT HOURS RATE  COST ON CALL  \
 0  VACANT  Saturday, 29 June 2024  1200 - 0030     12  220  2640      NO
 1  VACANT   Saturday, 04 May 2024  1200 - 0030     12  220  2640      NO

          ROLE UNIT  STATUS-VALIDATE  DATE-VALIDATE  SHIFT-VALIDATE  \
 0  CMO NON IC   ED             True           True            True
 1  CMO NON IC   ED             True           True            True

    HOURS-VALIDATE  RATE-VALIDATE  COST-VALIDATE  ON CALL-VALIDATE  \
 0           False           True           True              True
 1           False           True           True              True

    ROLE-VALIDATE  UNIT-VALIDATE
 0           True           True
 1           True           True  ,
 'ARMIDALE ANAESTHETICS': Empty DataFrame
 Columns: [STATUS, DATE, SHIFT, HOURS, RATE, COST, ON CALL, ROLE, UNIT, STATUS-VALIDATE, DATE-VALIDATE, SHIFT-VALIDATE, HOURS-VALIDATE, RATE-VALIDATE, COST-VALIDATE, ON CALL-VALIDATE, ROLE-VALIDATE, UNIT-VALIDATE]
 Index: [],
 'ARMIDALE GEN SURG REG': Empty DataFrame
 Columns: [STATUS, DATE, SHIFT, HOURS, RATE, COST, ON CALL, ROLE, UNIT, STATUS-VALIDATE, DATE-VALIDATE, SHIFT-VALIDATE, HOURS-VALIDATE, RATE-VALIDATE, COST-VALIDATE, ON CALL-VALIDATE, ROLE-VALIDATE, UNIT-VALIDATE]
 Index: [],
 'ARMIDALE GEN MED REG': Empty DataFrame
 Columns: [STATUS, DATE, SHIFT, HOURS, RATE, COST, ON CALL, ROLE, UNIT, STATUS-VALIDATE, DATE-VALIDATE, SHIFT-VALIDATE, HOURS-VALIDATE, RATE-VALIDATE, COST-VALIDATE, ON CALL-VALIDATE, ROLE-VALIDATE, UNIT-VALIDATE]
 Index: [],
 'ARMIDALE DENTIST':     STATUS                      DATE      SHIFT HOURS RATE COST ON CALL  \
 0   VACANT     Monday, 15 April 2024  0800-1630     8  100  800      NO
 1   VACANT    Tuesday, 16 April 2024  0800-1630     8  100  800      NO
 2   VACANT  Wednesday, 17 April 2024  0800-1630     8  100  800      NO
 3   VACANT   Thursday, 18 April 2024  0800-1630     8  100  800      NO
 4   VACANT     Friday, 19 April 2024  0800-1630     8  100  800      NO
 5   VACANT     Monday, 22 April 2024  0800-1630     8  100  800      NO
 6   VACANT    Tuesday, 23 April 2024  0800-1630     8  100  800      NO
 7   VACANT  Wednesday, 24 April 2024  0800-1630     8  100  800      NO
 8   VACANT   Thursday, 25 April 2024  0800-1630     8  100  800      NO
 9   VACANT     Friday, 26 April 2024  0800-1630     8  100  800      NO
 10  VACANT     Monday, 29 April 2024  0800-1630     8  100  800      NO
 11  VACANT    Tuesday, 30 April 2024  0800-1630     8  100  800      NO
 12  VACANT    Wednesday, 01 May 2024  0800-1630     8  100  800      NO
 13  VACANT     Thursday, 02 May 2024  0800-1630     8  100  800      NO
 14  VACANT       Friday, 03 May 2024  0800-1630     8  100  800      NO

        ROLE      UNIT  STATUS-VALIDATE  DATE-VALIDATE  SHIFT-VALIDATE  \
 0   DENTIST  ARMIDALE             True           True            True
 1   DENTIST  ARMIDALE             True           True            True
 2   DENTIST  ARMIDALE             True           True            True
 3   DENTIST  ARMIDALE             True           True            True
 4   DENTIST  ARMIDALE             True           True            True
 5   DENTIST  ARMIDALE             True           True            True
 6   DENTIST  ARMIDALE             True           True            True
 7   DENTIST  ARMIDALE             True           True            True
 8   DENTIST  ARMIDALE             True           True            True
 9   DENTIST  ARMIDALE             True           True            True
 10  DENTIST  ARMIDALE             True           True            True
 11  DENTIST  ARMIDALE             True           True            True
 12  DENTIST  ARMIDALE             True           True            True
 13  DENTIST  ARMIDALE             True           True            True
 14  DENTIST  ARMIDALE             True           True            True

     HOURS-VALIDATE  RATE-VALIDATE  COST-VALIDATE  ON CALL-VALIDATE  \
 0            False           True           True              True
 1            False           True           True              True
 2            False           True           True              True
 3            False           True           True              True
 4            False           True           True              True
 5            False           True           True              True
 6            False           True           True              True
 7            False           True           True              True
 8            False           True           True              True
 9            False           True           True              True
 10           False           True           True              True
 11           False           True           True              True
 12           False           True           True              True
 13           False           True           True              True
 14           False           True           True              True

     ROLE-VALIDATE  UNIT-VALIDATE
 0           False           True
 1           False           True
 2           False           True
 3           False           True
 4           False           True
 5           False           True
 6           False           True
 7           False           True
 8           False           True
 9           False           True
 10          False           True
 11          False           True
 12          False           True
 13          False           True
 14          False           True  ,
 'ARMIDALE ORTHO REG': Empty DataFrame
 Columns: [STATUS, DATE, SHIFT, HOURS, RATE, COST, ON CALL, ROLE, UNIT, STATUS-VALIDATE, DATE-VALIDATE, SHIFT-VALIDATE, HOURS-VALIDATE, RATE-VALIDATE, COST-VALIDATE, ON CALL-VALIDATE, ROLE-VALIDATE, UNIT-VALIDATE]
 Index: [],
 'ARMIDALE O&G':     STATUS                     DATE      SHIFT HOURS RATE  COST ON CALL ROLE  \
 0   VACANT    Monday, 29 April 2024  0730-1600     8  160  1280     YES  REG
 1   VACANT   Tuesday, 30 April 2024  0730-1600     8  160  1280      NO  REG
 2   VACANT   Wednesday, 01 May 2024  0730-1600     8  160  1280     YES  REG
 3   VACANT    Thursday, 02 May 2024  0730-1600     8  160  1280      NO  REG
 4   VACANT      Friday, 03 May 2024  0730-1600     8  160  1280     YES  REG
 5   VACANT    Saturday, 04 May 2024  0800-1200     4  180   720     YES  REG
 6   VACANT      Sunday, 05 May 2024  0800-1200     4  180   720     YES  REG
 7   VACANT      Monday, 06 May 2024  0730-1600     8  160  1280     YES  REG
 8   VACANT     Tuesday, 07 May 2024  0730-1600     8  160  1280      NO  REG
 9   VACANT   Wednesday, 08 May 2024  0730-1600     8  160  1280     YES  REG
 10  VACANT    Thursday, 09 May 2024  0730-1600     8  160  1280      NO  REG
 11  VACANT      Friday, 10 May 2024  0730-1600     8  160  1280     YES  REG
 12  VACANT    Saturday, 11 May 2024  0800-1200     4  180   720     YES  REG
 13  VACANT      Sunday, 12 May 2024  0800-1200     4  180   720     YES  REG
 14  VACANT      Monday, 06 May 2024  0730-1600     8  160  1280      NO  REG
 15  VACANT     Tuesday, 07 May 2024  0730-1600     8  160  1280     YES  REG
 16  VACANT   Wednesday, 08 May 2024  0730-1600     8  160  1280      NO  REG
 17  VACANT    Thursday, 09 May 2024  0730-1600     8  160  1280     YES  REG
 18  VACANT      Friday, 10 May 2024  0730-1600     8  160  1280      NO  REG
 19  VACANT     Monday, 03 June 2024  0730-1600     8  160  1280     YES  REG
 20  VACANT    Tuesday, 04 June 2024  0730-1600     8  160  1280      NO  REG
 21  VACANT  Wednesday, 05 June 2024  0730-1600     8  160  1280     YES  REG
 22  VACANT   Thursday, 06 June 2024  0730-1600     8  160  1280      NO  REG
 23  VACANT     Friday, 07 June 2024  0730-1600     8  160  1280     YES  REG
 24  VACANT   Saturday, 08 June 2024  0800-1200     4  180   720     YES  REG
 25  VACANT     Sunday, 09 June 2024  0800-1200     4  180   720     YES  REG
 26  VACANT    Tuesday, 11 June 2024  0730-1600     8  160  1280      NO  REG
 27  VACANT  Wednesday, 12 June 2024  0730-1600     8  160  1280     YES  REG
 28  VACANT   Thursday, 13 June 2024  0730-1600     8  160  1280      NO  REG
 29  VACANT     Friday, 14 June 2024  0730-1600     8  160  1280     YES  REG
 30  VACANT   Saturday, 15 June 2024  0800-1200     4  180   720     YES  REG
 31  VACANT     Sunday, 16 June 2024  0800-1200     4  180   720     YES  REG
 32  VACANT     Monday, 17 June 2024  0730-1600     8  160  1280      NO  REG
 33  VACANT    Tuesday, 18 June 2024  0730-1600     8  160  1280     YES  REG
 34  VACANT  Wednesday, 19 June 2024  0730-1600     8  160  1280      NO  REG
 35  VACANT   Thursday, 20 June 2024  0730-1600     8  160  1280     YES  REG
 36  VACANT     Friday, 21 June 2024  0730-1600     8  160  1280      NO  REG

    UNIT  STATUS-VALIDATE  DATE-VALIDATE  SHIFT-VALIDATE  HOURS-VALIDATE  \
 0   O&G             True           True            True           False
 1   O&G             True           True            True           False
 2   O&G             True           True            True           False
 3   O&G             True           True            True           False
 4   O&G             True           True            True           False
 5   O&G             True           True            True            True
 6   O&G             True           True            True            True
 7   O&G             True           True            True           False
 8   O&G             True           True            True           False
 9   O&G             True           True            True           False
 10  O&G             True           True            True           False
 11  O&G             True           True            True           False
 12  O&G             True           True            True            True
 13  O&G             True           True            True            True
 14  O&G             True           True            True           False
 15  O&G             True           True            True           False
 16  O&G             True           True            True           False
 17  O&G             True           True            True           False
 18  O&G             True           True            True           False
 19  O&G             True           True            True           False
 20  O&G             True           True            True           False
 21  O&G             True           True            True           False
 22  O&G             True           True            True           False
 23  O&G             True           True            True           False
 24  O&G             True           True            True            True
 25  O&G             True           True            True            True
 26  O&G             True           True            True           False
 27  O&G             True           True            True           False
 28  O&G             True           True            True           False
 29  O&G             True           True            True           False
 30  O&G             True           True            True            True
 31  O&G             True           True            True            True
 32  O&G             True           True            True           False
 33  O&G             True           True            True           False
 34  O&G             True           True            True           False
 35  O&G             True           True            True           False
 36  O&G             True           True            True           False

     RATE-VALIDATE  COST-VALIDATE  ON CALL-VALIDATE  ROLE-VALIDATE  \
 0            True           True              True          False
 1            True           True              True          False
 2            True           True              True          False
 3            True           True              True          False
 4            True           True              True          False
 5            True           True              True          False
 6            True           True              True          False
 7            True           True              True          False
 8            True           True              True          False
 9            True           True              True          False
 10           True           True              True          False
 11           True           True              True          False
 12           True           True              True          False
 13           True           True              True          False
 14           True           True              True          False
 15           True           True              True          False
 16           True           True              True          False
 17           True           True              True          False
 18           True           True              True          False
 19           True           True              True          False
 20           True           True              True          False
 21           True           True              True          False
 22           True           True              True          False
 23           True           True              True          False
 24           True           True              True          False
 25           True           True              True          False
 26           True           True              True          False
 27           True           True              True          False
 28           True           True              True          False
 29           True           True              True          False
 30           True           True              True          False
 31           True           True              True          False
 32           True           True              True          False
 33           True           True              True          False
 34           True           True              True          False
 35           True           True              True          False
 36           True           True              True          False

     UNIT-VALIDATE
 0            True
 1            True
 2            True
 3            True
 4            True
 5            True
 6            True
 7            True
 8            True
 9            True
 10           True
 11           True
 12           True
 13           True
 14           True
 15           True
 16           True
 17           True
 18           True
 19           True
 20           True
 21           True
 22           True
 23           True
 24           True
 25           True
 26           True
 27           True
 28           True
 29           True
 30           True
 31           True
 32           True
 33           True
 34           True
 35           True
 36           True  ,
 'ARMIDALE PAEDS': Empty DataFrame
 Columns: [STATUS, DATE, SHIFT, HOURS, RATE, COST, ON CALL, ROLE, UNIT, STATUS-VALIDATE, DATE-VALIDATE, SHIFT-VALIDATE, HOURS-VALIDATE, RATE-VALIDATE, COST-VALIDATE, ON CALL-VALIDATE, ROLE-VALIDATE, UNIT-VALIDATE]
 Index: [],
 'BELMONT ED CMO':     STATUS       DATE      SHIFT  HOURS   RATE    COST ON CALL        ROLE  \
 0   VACANT 2024-04-15  2200-0830   10.0  180.0  1800.0      NO      CMO IC
 1   VACANT 2024-04-16  1230-2230   10.0  140.0  1400.0      NO      CMO IC
 2   VACANT 2024-04-16  2200-0830   10.0  180.0  1800.0      NO      CMO IC
 3   VACANT 2024-04-17  2200-0830   10.0  180.0  1800.0      NO      CMO IC
 4   VACANT 2024-04-20  1230-2230   10.0  140.0  1400.0      NO      CMO IC
 5   VACANT 2024-04-25  1230-2230   10.0  140.0  1400.0      NO      CMO IC
 6   VACANT 2024-04-27  1230-2230   10.0  140.0  1400.0      NO      CMO IC
 7   VACANT 2024-04-29  0800-1800   10.0   90.0   900.0      NO  CMO NON IC
 8   VACANT 2024-05-03  1230-2230   10.0  140.0  1400.0      NO      CMO IC
 9   VACANT 2024-05-19  1230-2230   10.0  140.0  1400.0      NO      CMO IC
 10  VACANT 2024-05-31  1230-2230   10.0  140.0  1400.0      NO      CMO IC
 11  VACANT 2024-06-01  1230-2230   10.0  140.0  1400.0      NO      CMO IC

    UNIT  STATUS-VALIDATE  DATE-VALIDATE  SHIFT-VALIDATE  HOURS-VALIDATE  \
 0    ED             True           True            True           False
 1    ED             True           True            True            True
 2    ED             True           True            True           False
 3    ED             True           True            True           False
 4    ED             True           True            True            True
 5    ED             True           True            True            True
 6    ED             True           True            True            True
 7    ED             True           True            True            True
 8    ED             True           True            True            True
 9    ED             True           True            True            True
 10   ED             True           True            True            True
 11   ED             True           True            True            True

     RATE-VALIDATE  COST-VALIDATE  ON CALL-VALIDATE  ROLE-VALIDATE  \
 0            True           True              True          False
 1            True           True              True          False
 2            True           True              True          False
 3            True           True              True          False
 4            True           True              True          False
 5            True           True              True          False
 6            True           True              True          False
 7            True           True              True           True
 8            True           True              True          False
 9            True           True              True          False
 10           True           True              True          False
 11           True           True              True          False

     UNIT-VALIDATE
 0            True
 1            True
 2            True
 3            True
 4            True
 5            True
 6            True
 7            True
 8            True
 9            True
 10           True
 11           True  ,
 'CALVARY MATER ED': Empty DataFrame
 Columns: [STATUS, DATE, SHIFT, HOURS, RATE, COST, ON CALL, ROLE, UNIT, STATUS-VALIDATE, DATE-VALIDATE, SHIFT-VALIDATE, HOURS-VALIDATE, RATE-VALIDATE, COST-VALIDATE, ON CALL-VALIDATE, ROLE-VALIDATE, UNIT-VALIDATE]
 Index: [],

In [681]:
validations = [validate_date, validate_hours, validate_rate, validate_cost, validate_hours, validate_roles, validate_oncall, validate_units]